.cell {
    border: none;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
}

.animation {
    position: absolute;
}