.cell {
    border: none;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
}

.animation {
    position: absolute;
}

.winningCell {
    animation: winPulse 2s ease-out;
}

.boardClearing {
    animation: fadeOut 1s forwards;
}

@keyframes winPulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}